/* =============================================================================
   scroll to top
   ========================================================================== */

#gotop{
  display:block;
  width:36px;
  height:36px;
  position:fixed;
  bottom:40px;
  right:30px;
  border-radius:7px;
  text-decoration:none;
  display:none;
  background-color:#999999;
}
#gotop span{
  display:block;
  color:#dddddd;
}
#gotop span:hover{
  color:#cccccc;
}
#gotop span{
  font-size:24px;
  text-align:center;
}
